* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #202020;
    color: white;
}

/* .main{
    min-height: 100vh;
    display: grid;
    place-content:center;
} */
.container {
    max-width: 700px !important;
}

.form-container {
    background-color: #ffffff08;
    padding: 50px;
    border-radius: 20px;
}

.bg-transparent {
    background-color: transparent !important;
}



.error {
    color: red;
}

.password-eye {
    left: -30px;
    top: 10px;
    filter: invert(1);
    background-color: transparent;
}

button[type="submit"] {
    display: block;
}

.button-responsive {
    width: 46% !important;
}

@media (max-width:500px) {
    .button-responsive {
        width: 94% !important;
    }
}

@media (max-width:400px) {
    .form-container {
        background-color: transparent;
        padding: 0;
        border-radius: 0;
    }
}

.invalid-feild {
    outline: 3px solid red;
}

.valid-feild {
    outline: 3px solid green !important;
}